@charset "UTF-8"
 
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: rgb(153, 180, 206);
}
main{
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    max-height: 20%;
    text-align:center;
    border-radius: 10px;
    box-shadow: inset 20px black;
}
main > p {
   padding-bottom: 5%;
}
main > img{
    border-radius: 10px;
    box-sizing: 10px;
    margin-top: 10px;
}
.image{
    max-width: 95%;
    height: auto;
}